
/* body {
    background-color: rebeccapurple;
    box-sizing: border-box;
  }
  /* form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 60%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table; */
  /* } */
 /* #search{
    float: left;
    color: white;
    background-color: purple;
    min-width: 400;
    min-height: 38px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    display: flex;

} 
#inputvalue {
    display: flex;
    width: 760px;
    font-size: 1rem;
    margin: 30px;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: red;
    outline: none;
    background-color: white;
    border-radius: .25rem;
    border: 1px solid gainsboro;
} */ 
html {
    scroll-behavior: smooth;
    background-color: rebeccapurple;
}


body {
    margin: 0;
    background-color: rebeccapurple;
}

.container {
    padding: 20px;
    margin: 0 auto;
}

.movie {
    margin-top: 50px;
}

section {
    position: relative;
    width: 100%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    transition: 250ms all;
}

section .imageContainer {
    flex: 0 0 auto;
}

.content {
    display: none;
    position: relative;
    min-height: 200px;
    width: 100%;
    border: 1px solid lightgrey;
    padding: 20px;
}


.content-display {
    display: block;
}


.content-display {
    display: block;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.content div {
    margin: 10px;
}


#content-close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    padding: 10px;
    /* width: 35px;; */
    border: 1px solid lightgrey;
    border-radius: 45%;
    left: 20px;
}


.imageContainer {
    transition: 250ms all;
    width: 300px;
}


.imageContainer:hover {
    margin-left: 0 40px;
    transform: scale(1.2);
    cursor: pointer;
}

.imageContainer {
    border-radius: 4px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.imageContainer img {
    width: 100%;
}

.btn {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    outline: none;
    min-height: 38px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    width: 760px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.navbar-brand{
    color: yellow;

    border-radius: 20px;
}
.hiru{
    margin-left: 650px;
    align-items: center;
    border-radius: 150px;
    border-radius: 50%;
    /* padding-top: 0px; */
    /* margin-top: 20px; */
}
<div class="w3-panel w3-pale-green w3-bottombar w3-border-green w3-border">
  <p>London is the most populous city in the United Kingdom,
  with a metropolitan area of over 9 million inhabitants.</p>
</div>
